<div class="row">
   <div class="landing-page-mid">
     <div class="container">
       <div class="row">
         <div class="col-md-12">
             <p class="col-md-6 col-md-offset-3 text-center tagp">
               服务于润滑油厂家，免费提供基础油的相关信息，目前已经开通油知识|资讯、看报价，其它功能正在开发中，敬请期待！

         </div>
       </div>
     </div>
   </div>
 </div>
<br><br><br><br>
 <div class="row">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <h3 class="tagline text-center">为了你的有趣生活</h3>
              <p class="col-md-6 col-md-offset-3 text-center tagp">
                「季风」致力于发现和分享具有创造性的产品<br>
                在这里你能找到最新的科技和最酷的设计<br>
                提前感受世界的未来<br>
                就像李荣浩的那首「不将就」 <br>
                改变生活也从「不将就」开始<br>
               「季风」为了你的有趣生活</p>
          </div>
        </div>
      </div>

  </div>
