<div class="row">
   <div class="landing-page-mid">
     <div class="container">
         <div class="col-md-12">
           <div class="color1 ">

                 <h1 class="tagline text-center">用互联网改变信息不透明、效率低的采购方式，让买油更简单！</h1>
<br>
                <button type="button" class="btn btn-warning" >      <%= link_to("油知识 | 资讯", posts_path, :class => "color1") %> </button>
                <button type="button" class="btn btn-warning" >    <%= link_to("看报价", jgs_path, :class => "color1") %>  </button>
                <button type="button" class="btn btn-warning" >     <%= link_to("指标库", zhibiaos_path, :class => "color1") %>  </button>
</div>








         </div>
       </div>
     </div>
   </div>

<br><br><br><br>

      <div class="container">
          <div class="col-md-12">
            <h3 class="tagline text-center">基础油网</h3>

              <p class="col-md-6 col-md-offset-3 text-center tagp ">
                是润滑油行业内热心人士创建<br>
                目的是希望调油厂能够轻松解<br>
                决，包括：调油技术问题、了解<br>
                行业资讯、基础油价格和产品信<br>
                息、更多的罐车车队信息、行业更高效</p>

        </div>
      </div>
