
<footer class="footer-style">

    <div class="row">
      <p class="text-center">
        <br><br>
        <button type="button" class="btn btn-default navbar-btn "><%= link_to("油知识 | 资讯", posts_path, :class => "color") %> </button>
        <button type="button" class="btn btn-default navbar-btn "><%= link_to("看报价", jgs_path, :class => "color") %> </button>
        <button type="button" class="btn btn-default navbar-btn "><%= link_to("找物流", wls_path, :class => "color") %> </button>


        <br><br><br>Copyright &copy;2019  - Design by Base oil            <script type="text/javascript">var cnzz_protocol = (("https:" == document.location.protocol) ? "https://" : "http://");document.write(unescape("%3Cspan id='cnzz_stat_icon_1277095039'%3E%3C/span%3E%3Cscript src='" + cnzz_protocol + "s96.cnzz.com/z_stat.php%3Fid%3D1277095039%26show%3Dpic1' type='text/javascript'%3E%3C/script%3E"));</script>


          <br>商务邮箱：jichuyou@126.com
            <br><br>

      </p>
    </div>

</footer>
