
<footer class="footer-style">

    <div class="row">
      <p class="text-center">
        <br><br>
        <button type="button" class="btn btn-default navbar-btn "><%= link_to("油知识 | 资讯", posts_path, :class => "color") %> </button>
        <button type="button" class="btn btn-default navbar-btn "><%= link_to("看报价", jgs_path, :class => "color") %> </button>


        <br><br><br>Copyright &copy;2019  - Design by Base oil

          <br>邮箱：jichuyou@126.com     微信：jichuyou2019
            <br><br>
      </p>
    </div>

</footer>
