
<footer class="footer-style">

    <div class="row">
      <p class="text-center">
        <br><br>
        更及时的信息推送，搜索关注微信<br>公众号“找基础油”或扫描下方二维码
        <br>
              </p>
                    <p class="text-center">

        <img src='<%= image_url 'weixin.jpg' %>'   class="descriptionweixin >

    </p>
  <p class="text-center">
        <br><br>Copyright &copy;2019  - Design by Base oil            <script type="text/javascript">var cnzz_protocol = (("https:" == document.location.protocol) ? "https://" : "http://");document.write(unescape("%3Cspan id='cnzz_stat_icon_1277095039'%3E%3C/span%3E%3Cscript src='" + cnzz_protocol + "s96.cnzz.com/z_stat.php%3Fid%3D1277095039%26show%3Dpic1' type='text/javascript'%3E%3C/script%3E"));</script>


          <br>商务邮箱：jichuyou@126.com
            <br>  <br><br>


      </p>

    </div>

</footer>
